
    <h1>index</h1>
    <div>
        <img src="/images/beer.png" alt="beer-img">
    </div>
    <button><a href="/beers">Check the Beers!</a></button>
    <button><a href="/random-beer">Check a Random Beer!</a></button>
